*{
    margin: 0;
    padding: 0;
}

.imgwidth img{
    max-width: 60%;
    max-height: 100px;
}
.fourbox p{
    font-size: 15px;
    color: black;
}
.fixwidth{
    height: 100px;
}
.asd button{
    border: none;
    background-color: white;
    outline: white;
    cursor: pointer;
}
.btnstyle{
    width: 100%;
    border: none;
    padding: 10px 0;
}